.idea
.env
*/models
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
credentials.json
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
routes/model_inception.h5
# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store
# firebase

